---
title: Leisure Cooperative
layout: layouts/base.njk
---


<div class='container--m mt1 pt1 site__why'>
            <p class='h3'>
            This is a directory for enjoying productive leisure. Compiled to share our resources, knowledge and time for the benefit of our community and nature.
            </p>
            <p class='h3'>
            Remember the worker cooperative movement? It's a little like that. We need more space and networks to share and participate in conscious leisure activities. Part of a post-growth economy.
            </p>
            <p class='h3'>
            Join our Element chat <a class="border" href="https://matrix.to/#/#leisurecoop:matrix.org" target="_blank">Leisure Talk</a> on our decentralised communication network.
            </p>
            <p class='h3'>
            We are open-devleopment, want to contribute? <a class="border" href="https://www.figma.com/file/szwpEjhApwakv2G64hzEPn/Leisure-Cooperative-Development?node-id=0%3A1" target="_blank">FigJam</a> to check it out.
            </p>
            <p class='h3'>
            We are a sister organization to like-minded regenerative placemakers.<br />
            <a class="border" href="https://idlehours.co" target="_blank">The Idle Hours Company</a><br />
            <a class="border" href="https://infiniteplaces.org" target="_blank">Infinite Places</a><br />
            <a class="border" href="https://enoughstructures.com.com" target="_blank">Enough Structures</a><br />
            <a class="border" href="mailto:info@infiniteplaces.org">E-mail us.</a>
            </p>
            
          <p class='h3'> 
          <a class="border"
          href="/submit">Get Listed
          </a>
          OR 
          <a class="border"
            className="headline-menu--link"
            target="_blank"
            href="https://8lqyuucfjae.typeform.com/to/m1pPcmt4"
          >
            Join
          </a></p>
</div>


