<meta name="description" content="{{ description or "sharing resource for leisure enthusiasts" }}">
<meta property='og:locale' content='en_US' />
<meta property='og:image' content='https://spaghetti.directory/images/open.jpg' />
<meta property='og:title' content='Leisure Cooperative' />
<meta property='og:url' content='https://leisure.coop' />
<meta property='og:site_name' content='Leisure Cooperative' />
<meta property='og:description' content='a shared leisure marketplace platform' />